<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading">Error</h4>
  <p>No se pudo registrar el usuario</p>
  <hr>
  <a class="btn btn-primary" href="/signup" role="button">Volver</a>
</div>