<h1>Inicia sesión</h1>
<form action="/login" method="post" id="formLogIn">
    <div class="mb-3">
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="username" name="username">
    </div>
    <div class="mb-3">
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="password" name="password">
    </div>
    <button class="btn btn-dark">Enviar</button>
</form>
<a class="btn btn-primary" href="/signup" role="button">Sign Up</a>